<footer class="bg-neutral-primary-soft bg-[#1d1d1d]  ">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="images/studio.png" class="h-10" alt="Studio Logo" />
                <span class="text-heading self-center text-stone-500 text-2xl  whitespace-nowrap">Ale Ulloa
                    Studio</span>
            </div>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-stone-300 sm:mb-0">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>

        </div>
        <hr class="my-6 border-default sm:mx-auto lg:my-8 text-stone-300" />
        <span class="block text-sm text-stone-300 sm:text-center">© 2023 Ale Ulloa Studio. All Rights Reserved.</span>
    </div>
</footer>