<h2 class="text-2xl font-bold text-center mt-5">Productos</h2>

<!-- Error -->
<div *ngIf="hasError" class="text-center text-red-600 mt-4">
    Error al cargar productos.
</div>

<!-- Loading -->
<div *ngIf="isLoading" class="text-center mt-4">
    Cargando productos...
</div>

<!-- Mostrar JSON CRUDO para ver qué viene -->
<pre *ngIf="productResponse">
{{ productResponse | json }}
</pre>

<!-- Grid real -->
<div *ngIf="productResponse && productResponse.products"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 my-6 max-w-5xl mx-auto">
    <app-products-card *ngFor="let product of productResponse.products" [product]="product"></app-products-card>
</div>